.day {
    height: 100px;
}

.day-options {
    margin-left: 15px;
    font-size: 12px;
}

.day-options-icons {
   cursor: pointer;
}

.number-day {
    font-size: 14px;
}

.reminder {
    text-overflow:ellipsis; 
    white-space: nowrap; 
    overflow: hidden;     
    width: 80px;
}

.action-reminder {
    cursor: pointer;
}

.font-size {
    font-size: 10px;
}