<div class="modal-header">
  <h4 class="modal-title">Reminders</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="text-danger fa fa-window-close"></i>
  </button>
</div>
<div class="modal-body">
  <div class="container remainer-list">
    <div *ngFor="let reminder of reminders; let i = index;">
      <div class="card mt-4">
        <div class="card-header" [ngClass]="reminder.color.theme">
          <app-reminder-header [reminder]="reminder" (onEditReminder)="editReminder(reminder, i)"
            (onDeleteReminder)="deleteReminder(i)"></app-reminder-header>
        </div>
        <div class="card-body">
          <app-reminder-body [reminder]="reminder"></app-reminder-body>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer mt-2">
  <button class="btn btn-danger" (click)="activeModal.close('Close clicked')">Close</button>
</div>
